#search
  &__input
    width: 100%
    padding: 1em 1em .5em 0
    margin: 0 0 .8em .5em
    font-size: 1.5em
    background-color: transparent
    border: none
    border-bottom: 1px solid #bdc3c7
    color: #2c3e50

  &__input:focus
    border-bottom: 1px solid #27ae60
    color: #27ae60
