.customer
  width: 250px
  margin: .5em
  padding: 1em
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  background-color: #fff
  border-radius: .5em
  display: inline-block
  line-height: 1.2em
  font-family: 'Source Sans Pro'
  text-align: center;

  hr
    border: 0
    height: 1px
    width: 100px
    background-color: #bdc3c7

  &__name
    text-align: center
    font-family: 'Source Sans Pro'
    font-size: 1.4em
    margin-bottom: .3em

  &__city
    text-align: center
    text-transform: uppercase
    font-size: .8em
    font-family: 'Source Sans Pro'
    color: #7f8c8d
    margin-bottom: 1em

  &__phone
    font-family: 'Open Sans'
    font-size: .8em

  &__address
    font-family: 'Open Sans'
    font-size: .8em
